@use "../../styles/functions" as fn;

@media screen and (min-height: calc(100vw + 100px)) {
}

@media screen and (max-height: calc(100vw + 100px - 1px)) {
}

.main-books {
    background-color: #ffffff;
    padding-top: fn.get-vw(15px, 1920);
    padding-bottom: fn.get-vw(15px, 1920);
    padding-left: fn.get-vw(40px, 1920);

    .books-lists {
        width: fn.get-vw(1420px, 1920);

        .lists-links {
            margin: fn.get-vw(25px, 1920) 0;
            cursor: pointer;

            a.link:hover, a.last-link:hover {
                color: #dd5202;
                text-decoration: underline;
            }

            .selected {
                color: #dd5202;
            }

            a.link::after {
                content: "/";
                color: #9da2a8;
            }

            span::before {
                content: "(";
                color: #9da2a8;
            }

            span::after {
                content: ")";
                color: #9da2a8;
            }
        }

        a.link, a.last-link{
            color: #176093;
            text-decoration: none;
            background: transparent;
        }
    }
}
